<% var file = data['file']; %>
<% var query = data['query']; %>
<% var file_length = Object.keys(file).length; %>
<% var addItem = function(curPos) { %>
<%      var item = file[curPos]['name'].trim() + ((file[curPos]['extension'] == '') ?  '' : '.'+file[curPos]['extension']) %>
<%      if(file[curPos]['type'] == 'directory') { %>
                <td class=""></td>
                <td class="text-left">
                <a href="?path=<%= query %>/<%= item %>" class="">
                        <i class="fas fa-folder text-truncate">
                                <%= item %>
                        </i>
                </a>
                </td>
                <td class=""></td>
                <td class=""></td>
<%      } else { %>

                <td class="">
                        <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="d_checkbox<%= curPos %>" name="d_checkbox" onchange="addList('d_checkbox<%= curPos %>')">
                                <label class="custom-control-label" for="d_checkbox<%= curPos %>"></label>
                                <input type="hidden" id="d_checkbox<%= curPos %>_hidden" value="<%= query %>/<%= item %>">
                        </div>
                </td>   
                
                <td class="text-left">
                        <i class="fas fa-file text-truncate">
                                <%= item %>
                        </i>
                </td>
                <td class=""><%= file[curPos]['size'] %></td>
                <td class=""><%= file[curPos]['ctime'] %></td>
<%      } %>
<% } %>

<!DOCTYPE html>

<html>

<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="http://jqueryfiledownload.apphb.com/Scripts/jquery.fileDownload.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <script type="text/javascript">
                var downloadList = [];

                var addList = function(id){
                        var curItem = document.getElementById(id);
                        var curItem_hidden = document.getElementById(id+'_hidden');

                        if(curItem.checked) {
                                downloadList.push(curItem_hidden.value);
                        }
                        else {
                                var index = downloadList.indexOf(curItem_hidden.value);
                                console.log(index);
                                if(index != -1) {
                                        downloadList.splice(index , 1);
                                }
                        }
                }

                var download = (pos) => {                        
                        if(downloadList.length == 0 || pos >= downloadList.length) {
                                return null;
                        }
                        document.getElementById('downloadFile').value = downloadList[pos];

                        //jQuery.fileDownload.js plugin »ç¿ë
                        $.fileDownload($('#frm').prop('action'), { 
    
                                httpMethod: "POST", 
                                data: $('#frm').serialize(), 

                                successCallback: function (url) { 
                                        download(pos+1);
                                },
                                failCallback: function (responseHtml, url, error) { 
                                
                                        alert("fail Download"); 
                                } 
                        });
                        
                        
                }

                var UploadList_View = () => {
                        var upload_files = document.getElementById('files');
                        var list_files = upload_files.files;
                        var ul = document.getElementById('filelist');

                        for(var i = 0 ; i < list_files.length; i++) {
                                var item = document.createElement('li');
                                var content = document.createTextNode(list_files[i].name);
                                
                                item.appendChild(content);
                                item.id='filelist_i';
                                item.className = 'list-group-item w-100';
                                item.style = "width: 100%; height:100%";

                                ul.appendChild(item);
                        }
                };

        </script>



</head>

<body>

        <div class="container-fluid" style="padding-top: 3%; text-overflow:ellipsis;">
                <div class="row">
                        <div class="col">
                                <div class="container-fluid">
                                                <div class="row">
                                                                <div class="table-responsive table-bordered">                        
                                                                        <table class="table table-dark table-striped table-hover align-middle text-center">
                                                                        <thead>
                                                                                <tr>
                                                                                        <th class="w-5">CHECK</th>
                                                                                        <th class="w-50">NAME</th>
                                                                                        <th class="w-25">SIZE</th>
                                                                                        <th class="w-20">TIME</th>
                                                                                </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                <% for(var i = 0; i < file_length; i++) { %>
                                                                                <tr>
                                                                                        <% addItem(i) %>
                                                                                </tr>
                                                                                <% } %>
                                                                        </tbody>
                                                                        </table>
                                                                </div>
                                
                                                        </div>
                                
                                                        <div class="row text-center align-middle">

                                                                        <div class="container-fluid p-0 mt-3">
                                                                                <form id="frm" method="POST" action="/fileDownload">
                                                                                        <input type="hidden" id="downloadFile" name="downloadFile" value="">
                                                                                        <input type="button" class="btn btn-outline-dark" value="DOWNLOAD" style="width: 100%; height:100%" onclick="download(0);">
                                                                                </form>
                                                                        </div>
                                                        </div>
                                        </div>
                        </div>
                        
                        <div class="col">
                                <div class="container-fluid">

                                        

                                        <form method="POST" action="/fileUpload" enctype="multipart/form-data">
                                                <div class="row">
                                                        
                                                        <div class="custom-file mb-3">
                                                                <input type="file" class="custom-file-input" id="files" name="files" multiple onchange="UploadList_View()">
                                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                                                <input type="hidden" name="path" value="<%= query %>">
                                                        </div>
                                                        
                                                        
                                                        
                                                </div>

                                                <div class="row">
                                                        <ul class="list-group w-100 mb-3" id="filelist" >

                                                        </ul>
                                                </div>

                                                <div class="row">
                                                        
                                                                
                                                                <input class="btn btn-outline-dark" name="" style="width: 100%; height:100%" value="UPLOAD"  type="submit">
                                                        
                                                </div>
                                        </form>
                                </div>

                        </div>
                </div>

                
        </div>

</body>

</html>