<% var INPUT_JSON = JSON.parse(data) %>

<% var files_JSON        = INPUT_JSON['files']; %>
<% var files_JSON_String = JSON.stringify(files_JSON) %>
<% var files_length      = Object.keys(INPUT_JSON['files']).length %>

<% var path          = INPUT_JSON['path']%>



<% var addItem = function(curPos) { %>

<% } %>

<!DOCTYPE html>

<html lang="ko">

<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- JQuery.fileDownload.js -->
        <script src="http://jqueryfiledownload.apphb.com/Scripts/jquery.fileDownload.js"></script>

        <!-- ICON -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <script type="text/javascript">
                
                
                var files        = null;
                var files_length = null;
                var path         = null;
                var files_checked = {};

                //초기화
                var init = 
                () => {
                        files        = JSON.parse('<%- files_JSON_String %>')
                        files_length = Object.keys(files).length;
                        path         = '<%= path %>';
                        
                        for(var i = 0 ; i < files_length; i++) {
                                files_checked[i] = false;
                        }
                };

                //체크박스 선택
                var Check = (item , pos) => {
                        if(item.checked) {
                                files_checked[pos] = true;
                        }
                        else {
                                files_checked[pos] = false;
                        }
                }       

                //전체 클릭
                var AllCheck = (source, checkName) => {
                        var checkboxes = document.getElementsByName(checkName);
                        for(var i = 0 ; i < checkboxes.length; i ++) {
                                for(var i = 0 ; i < checkboxes.length; i++) {
                                        checkboxes[i].checked = source.checked;
                                        checkboxes[i].onchange();
                                }
                        }
                }

                //다운로드 js
                var Download = (item_hidden_id , type_hidden_id , pos) => {
                        
                        if(files_checked[pos] == true) {
                                document.getElementById(item_hidden_id).value = files[pos]['fullname'].trim();
                                document.getElementById(type_hidden_id).value = files[pos]['type'];
                        
                                //jQuery.fileDownload.js plugin 사용
                                $.fileDownload($('#downloadForm').prop('action'), { 
        
                                        httpMethod: "POST", 
                                        data: $('#downloadForm').serialize(), 

                                        successCallback: function (url) { 
                                                Download(item_hidden_id , type_hidden_id , pos+1);
                                        },
                                        failCallback: function (responseHtml, url, error) { 
                                                alert("DOWNLOAD ERROR");
                                        }
                                });
                        }
                        else {
                                Download(item_hidden_id , type_hidden_id , pos+1)
                        }
                }

                //파일 삭제
                var Delete = (delete_hidden_id , delete_form_id) => {

                        var JSON_items = {};
                        var cnt = 0;

                        for(var i = 0 ; i < files_length; i++) {
                                if(files_checked[i]==true) {
                                        var JSON_item = {};
                                        JSON_item['name'] = files[i]['fullname'];
                                        JSON_item['type'] = files[i]['type'];
                                        JSON_items[cnt++] = JSON_item;
                                }
                        }


                        document.getElementById(delete_hidden_id).value = JSON.stringify(JSON_items);
                        document.getElementById(delete_form_id).submit();
                }

                //업로드 js
                var Upload = (upload_file_id , upload_ul_id) => {
                        var upload_files = document.getElementById(upload_file_id);
                        var list_files = upload_files.files;

                        //업로드 리스트 초기화
                        var ul = document.getElementById(upload_ul_id);
                        while ( ul.hasChildNodes() ) 
                        { 
                                ul.removeChild( ul.firstChild ); 
                        }

                        //업로드 리스트 추가
                        for(var i = 0 ; i < list_files.length; i++) {
                                var item = document.createElement('li');
                                var content = document.createTextNode(list_files[i].name);
                                
                                item.appendChild(content);
                                item.id='i_upload_file_' + i;
                                item.name = 'n_upload_file_' + i;
                                item.className = 'list-group-item d-flex justify-content-between align-items-center';

                                ul.appendChild(item);
                        }
                };

                //폴더 만들때 이름 체크
                var dirNameCheck = (check_text_id) => {
                       var dirName = document.getElementById(check_text_id).value;

                       if(dirName == '' || dirName==null) {
                               return false;
                       }
                       return true;
                }



        </script>
</head>

<body onload="init()">

        <div class="container-fluid" style="padding-top: 3%; text-overflow:ellipsis;">
                <div class="row">
                        <div class="col">
                                <div class="container-fluid">
                                                <!-- 리스트 -->
                                                <div class="row mt-1 mb-1">
                                                        <div class="table-responsive table-bordered">                        
                                                                <table class="table table-striped table-hover align-middle text-center">
                                                                <thead>
                                                                        <tr>
                                                                                <th class="w-5">
                                                                                        <span class="custom-control custom-checkbox">
                                                                                                <input type="checkbox" class="custom-control-input" id="i_allcheckbox" name="n_allcheckbox" onchange="AllCheck(this , 'n_checkbox');">
                                                                                                <label class="custom-control-label" for="i_allcheckbox"></label>
                                                                                        </span>
                                                                                </th>
                                                                                <th class="w-50">NAME</th>
                                                                                <th class="w-25">SIZE</th>
                                                                                <th class="w-20">TIME</th>
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                        <% for(var i = 0; i < files_length; i++) { %>
                                                                        <tr>
                                                                                <% var item = files_JSON[i]['fullname'] %>
                                                                                <td class="align-middle">
                                                                                        <div class="custom-control custom-checkbox">
                                                                                                <input type="checkbox" class="custom-control-input" id="i_checkbox_<%= i %>" name="n_checkbox" onchange="Check(this, '<%= i  %>')">
                                                                                                <label class="custom-control-label" for="i_checkbox_<%= i %>"></label>
                                                                                        </div>
                                                                                </td>
                                                                                <% if(files_JSON[i]['type'] == 'directory') { %>
                                                                                        
                                                                                        <td class="text-left align-middle">
                                                                                                <a href="?path=<%= path %>/<%= item %>" class="">
                                                                                                        <i class="fas fa-folder text-truncate">
                                                                                                                <%= item %>
                                                                                                        </i>
                                                                                                </a>
                                                                                        </td>
                                                                                <% } else { %> 
                                                                                        <td class="text-left align-middle">
                                                                                                <i class="fas fa-file text-truncate">
                                                                                                        <%= item %>
                                                                                                </i>
                                                                                        </td>
                                                                                       
                                                                                <% } %>
                                                                                <td class="align-middle"><%= files_JSON[i]['size'] %></td>
                                                                                <td class="align-middle"><%= files_JSON[i]['ctime'] %></td>
                                                                        </tr>
                                                                        <% } %>
                                                                </tbody>
                                                                </table>
                                                        </div>
                                                </div>

                                                <!-- 폴더만들기 폼 -->
                                                <div class="row text-center align-middle mb-1 mt-1">
                                                                <form class="form-inline w-100" id="i_makeDirectoryForm" method="POST" action="/makeDirectory">
                                                                        <div class="col-sm-8 w-100 p-0">
                                                                                <div class="form-group w-100 p-0 m-0">
                                                                                        <input type="text" class="form-control w-100" id="i_makeDirectory_Name" name="n_makeDirectory_Name" value="">
                                                                                        <input type="hidden" name="n_makeDirectory_path" value="<%= path %>">
                                                                                </div>
                                                                        </div>
                                                                                

                                                                        <div class="col-sm-4 p-0">
                                                                                <div class="form-group w-100 p-0 m-0">
                                                                                        <input type="button" class="btn btn-outline-dark w-100" value="MAKE DIRECTORY" onclick="(dirNameCheck('i_makeDirectory_Name'))? submit() : alert('풀더명이 잘못되었습니다.')"> 
                                                                                </div>       
                                                                        </div>
                                                                </form> 
                                                </div>

                                                <!-- 다운로드 폼 -->
                                                <div class="row text-center align-middle mb-1 mt-1">

                                                                <div class="container-fluid p-0">
                                                                        <form id="downloadForm" method="POST" action="/Download">
                                                                                <input type="hidden" id="i_downloadItem" name="n_downloadItem" value="">
                                                                                <input type="hidden" id="i_itemType" name="n_itemType" value="">
                                                                                <input type="button" class="btn btn-outline-dark" value="DOWNLOAD" style="width: 100%; height:100%" onclick="Download('i_downloadItem' , 'i_itemType' ,0);">
                                                                        </form>
                                                                </div>
                                                </div>

                                                <!-- 삭제 폼 -->
                                                <div class="row mb-1 mt-1">
                                                        <div class="container-fluid p-0">
                                                                <form id="i_deleteForm" method="POST" action="/Delete">
                                                                        <input type="hidden" id="i_deleteList" name="n_deleteList" value="">
                                                                        <input type="hidden" name="n_deletePath" value="<%= path %>">
                                                                        <input type="button" class="btn btn-outline-dark" value="DELETE" style="width: 100%; height:100%" onclick="Delete('i_deleteList', 'i_deleteForm');">
                                                                </form>
                                                        </div>
                                                </div>
                                        </div>
                        </div>
                        
                        <div class="col">
                                <!-- 업로드 폼 -->
                                <div class="container-fluid">
                                        <form method="POST" action="/fileUpload" enctype="multipart/form-data">
                                                <div class="row mb-1 mt-1">
                                                        <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="i_upload_files" name="n_upload_files" multiple onchange="Upload('i_upload_files', 'i_file_list')">
                                                                <label class="custom-file-label" for="customFile">SELECT YOUR FILES</label>
                                                                <input type="hidden" name="n_upload_path" value="<%= path %>">
                                                        </div>
                                                </div>

                                                <div class="row mb-1 mt-1">
                                                        <ul class="list-group w-100" id="i_file_list" >

                                                        </ul>
                                                </div>

                                                <div class="row mt-1 mb-1">
                                                        <input class="btn btn-outline-dark" name="" style="width: 100%; height:100%" value="UPLOAD"  type="submit">
                                                </div>
                                        </form>
                                </div>

                        </div>
                </div>

                
        </div>

</body>

</html>