<% var files = JSON.parse(data); %>
<% var files_length = Object.keys(files).length; %>
<% var getVolumeSize = (size , deter = 0) => {    
    if(size / 1024 > 1) {                           
            return getVolumeSize(size / 1024 , deter+1);  
    } else {                                        
        var res = '';                                   
        switch(deter) {                                 
                case 0 :                                
                        res = 'Byte';                              
                        break;                                  
                case 1 :                                        
                        res = 'KB';                             
                        break;                                  
                case 2 :                                        
                        res = 'MB';                             
                        break;                                  
                case 3 :                                        
                        res = 'GB';                             
                        break;                                  
                case 4 :                                        
                        res = 'TB';                             
                        break;                                 
                default :                                       
                        res = "NaN";                            
                        break;                                  
        }  
        if(res=='Byte') {
                return size.toFixed(0)+res;  
        }
        else {
                return size.toFixed(2)+res;  
        }
    }                                             
}; %>

<!DOCTYPE html>

<head>

    <% include ./setting %>
    <link rel="stylesheet" href="/styles/daljincloudframe.css">
    
    
    <script>
        var files = JSON.parse('<%- data %>');  //JSON{size , ctime , type , name , extension , fullname}
        var files_length = parseInt('<%- files_length %>');
        var listtype = '<%- listtype %>';
        var path = '<%- path %>';
        var used_storage= '<%- used_storage %>';
    </script>
    
    
    <script src="/scripts/daljincloudframe.js"></script>


</head>



<body>
    <% if(listtype == 'list') { %> 
    <div class="lt">
        <ul class="lt-ul">

            <% if(path != "" && path != "#" && path != "/") { %>
                <li id="item_-1" class="lt-li">
                    <div class="item-container">
                        <div class="image">
                            <i class="fas fa-arrow-circle-left fa-4x"></i>
                        </div> 
                        <div class="discription">
                            <div class="size">&nbsp;</div>
                            <div class="name">...</div>
                            <div class="time">&nbsp;</div>
                        </div>
                    </div>  
                </li>
            <% } %>


            <% for (var i = 0 ; i < files_length; i++) { %>
            <li id="item_<%= i %>" class="lt-li">
                <div class="item-container">
                <% switch(files[i]['type']) {
                case 'file' : %>
                    <!-- file -->
                    <div class="image"><i class="far fa-file fa-4x"></i></div> 
                <% break;
                    case 'directory' : %>
                    <!-- folder -->
                    <div class="image"><i class="far fa-folder fa-4x"></i></div> 
                <% break;
                    default :
                    break;
                } %>
                <div class="discription">
                    <div class="name"><%= files[i]['fullname'] %></div>
                    <div class="size"><%= getVolumeSize(files[i]['size']) %></div>
                    <div class="time"><%= files[i]['ctime'] %>></div>
                </div>

                <div class="checkbox">
                    <div class="uncheck">
                        <i class="far fa-square fa-4x"></i>
                    </div>
                    <div class="check">
                        <i class="far fa-check-square fa-4x"></i>
                    </div>
                </div>
            </div>
            </li>
        <% } %>
        </ul>
    </div>

    <% } else if(listtype == 'grid') { %> 
        <div class="gt">
            <div class="gt-grid-wrapper">

                <% if(path != "" && path != "#" && path != "/") { %>
                    <div id="item_-1" class="gt-dir">
                        <div class="gt-image">
                            <i class="fas fa-arrow-circle-left fa-4x"></i>
                            </div>
                        <div class="gt-name">
                            ..
                        </div>
                    </div>
                <% } %>

                <% for (var i = 0 ; i < files_length; i++) { 
                    switch(files[i]['type']) {
                        case 'file' : %>
                        <!-- 파일 -->
                        <div id="item_<%= i %>" class="gt-file gt-selectable">
                            <div class="gt-image">
                                <i class="far fa-file fa-4x"></i>
                        <% break;
                        case 'directory' : %>
                        <!-- 폴더 -->
                        <div id="item_<%= i %>" class="gt-dir gt-selectable">
                            <div class="gt-image">
                                <i class="far fa-folder fa-4x"></i>
                        <% break;
                        default :
                        break;
                    } %>
                            </div>
                            <div class="gt-name gt-selectable">
                                <%= files[i]['fullname'] %>
                            </div>
                        </div>

                <% } %>
            </div>
        </div>
    <% } else { %>

    <% } %>

</body>
</html>